main{
    width: 100%;
}
.sidebar{
    background-color: #1976d2;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    position: static;
    width: 300px;
    transition: all 0.8s;
}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
    justify-content: space-between;
}
.bars{
    display: flex;
    font-size: 30px;
    color: #fff;
    transition: all 1s;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.8s;
    text-decoration: none;
}
.link:hover{
    background-color: #3d8ad8;
    color: #fff;
    transition: all 0.7s;
}
.icon, .link_text{
    font-size: 16px;
    transition: all 0.5s;
}
.active{
    background-color: rgb(226, 43, 195);
}
.logo{
    transition: all 2s;
}